ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
# Will be displayed in the footer of the application
# AUTHOR=Collins Dicka
DEBUG=true

# change default configuration values here

# The maximum number of players that can play on the server. default 10 (max-players=10)
MAX_PLAYERS=5

# Allowed values: "peaceful", "easy", "normal", or "hard"
DIFFICULTY=hard
