# This file contains environment variables that are used in the entrypoint.sh and compose.yaml files.
# You can change the default values here, but make sure to keep the variable names the same
JAVA_MIN_RAM=1G
JAVA_MAX_RAM=2G

# The values from the server.properties file are overridden by these variables.
# Since they are used in the entrypoint.sh, they must be set for the changes to take effect.
MAX_PLAYERS=5
DIFFICULTY=hard